Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

chore: update screenshots title to include [skip ci]
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: implement command palette with keyboard shortcuts support
  src/components/CommandPalette.tsx
  src/components/Header.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/index.ts
  src/components/ui/command.tsx
  src/components/ui/kbd.tsx
  src/hooks/useKeyboardShortcuts.ts
Owners: @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: update badge styles in README for better visibility
  README.md
Owners: @daeuniverse/governance

feat: enhance GraphQL client and add new mutations for tagging and updating subscriptions
  src/App.tsx
  src/apis/mutation.ts
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/DroppableGroupCard.tsx
  src/components/EditNodeFormModal.tsx
  src/components/Header.tsx
  src/components/ProfileSwitcher.tsx
  src/components/Section.tsx
  src/components/SimpleCard.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableSubscriptionCard.tsx
  src/components/ThemePicker.tsx
  src/components/UpdateSubscriptionAction.tsx
  src/components/index.ts
  src/components/ui/chart.tsx
  src/constants/default.ts
  src/constants/index.ts
  src/constants/misc.ts
  src/constants/schema.ts
  src/constants/themes.ts
  src/contexts/index.tsx
  src/hooks/useKeyboardShortcuts.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/mocks/client.ts
  src/pages/Orchestrate/Config.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
  src/store/index.ts
  src/utils/node-parser.ts
Owners: @daeuniverse/daed

feat: update Header and ThemePicker components with new user settings and dialog enhancements
  src/components/Header.tsx
  src/components/ThemePicker.tsx
Owners: @daeuniverse/daed

feat: enhance Input component with wrapperClassName prop and update dialog components
  src/components/ImportResourceFormModal.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/scrollable-dialog.tsx
Owners: @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: add subscription cron update functionality and enhance related components
  src/apis/mutation.ts
  src/apis/query.ts
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: add routingA language completion items and provider to Monaco editor
  src/constants/editor.ts
  src/monaco.ts
Owners: @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: split dae-editor and dae-node-parser into its own package
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  packages/dae-editor/.npmrc
  packages/dae-editor/README.md
  packages/dae-editor/package.json
  packages/dae-editor/src/constants.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/monaco.ts
  packages/dae-editor/tsconfig.json
  packages/dae-editor/tsdown.config.ts
  packages/dae-node-parser/.npmrc
  packages/dae-node-parser/README.md
  packages/dae-node-parser/package.json
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/index.ts
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
  packages/dae-node-parser/tsconfig.json
  packages/dae-node-parser/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  src/apis/query.ts
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/EditNodeFormModal.tsx
  src/constants/editor.ts
  src/monaco.ts
  src/pages/Orchestrate/Routing.tsx
  src/utils/index.ts
  src/utils/node.ts
Owners: @daeuniverse/infra, @daeuniverse/governance, @daeuniverse/daed

feat: add build step for workspace packages in release workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix: add workflow_dispatch trigger and fix release_created condition
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: update build scripts to include workspace packages
  .github/workflows/release-please.yml
  package.json
Owners: @daeuniverse/infra, @daeuniverse/governance

feat: refactor ConfigureNodeFormModal to support dynamic protocol forms
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ConfigureNodeFormModal/protocols/GenericNodeForm.tsx
  src/components/ConfigureNodeFormModal/protocols/complex.ts
  src/components/ConfigureNodeFormModal/protocols/index.ts
  src/components/ConfigureNodeFormModal/protocols/registry.ts
  src/components/ConfigureNodeFormModal/protocols/simple.ts
  src/components/ConfigureNodeFormModal/protocols/types.ts
  src/components/FormActions.tsx
  src/constants/schema.ts
  src/hooks/useNodeForm.ts
  src/hooks/useSetValue.ts
  src/mocks/data.ts
Owners: @daeuniverse/daed

chore: sync all package versions to 1.13.0 for release-please
  .release-please-manifest.json
  package.json
  packages/dae-editor/package.json
  packages/dae-node-parser/package.json
Owners: @daeuniverse/governance

chore: sync all package versions to 1.13.1
  .release-please-manifest.json
  package.json
  packages/dae-editor/package.json
  packages/dae-node-parser/package.json
Owners: @daeuniverse/governance

chore: update group pull request title pattern in release-please config
  release-please-config.json
Owners: @daeuniverse/governance

fix(ci): use main branch for publish-packages to get updated workspace versions
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

refactor(ci): separate release PRs for each package
  .github/workflows/release-please.yml
  release-please-config.json
Owners: @daeuniverse/infra, @daeuniverse/governance

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: enhance V2Ray URL parsing and configuration options
  .github/workflows/release-please.yml
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/protocols/complex.ts
  src/constants/default.ts
  src/constants/schema.ts
Owners: @daeuniverse/infra, @daeuniverse/governance, @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: update screenshots for ${{ needs.release-please.outputs.tag_name }} [skip ci]
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: add RoutingA language formatter and integrate with Monaco editor
  packages/dae-editor/src/formatter.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/monaco.ts
  src/monaco.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

chore: update screenshots for v1.17.0 [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: update screenshot URLs to use raw GitHub content links
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update code structure and remove redundant changes
  packages/dae-vscode/.gitignore
  packages/dae-vscode/.npmrc
  packages/dae-vscode/.vscode/launch.json
  packages/dae-vscode/.vscode/tasks.json
  packages/dae-vscode/.vscodeignore
  packages/dae-vscode/LICENSE
  packages/dae-vscode/README.md
  packages/dae-vscode/images/icon.png
  packages/dae-vscode/language-configuration.json
  packages/dae-vscode/package.json
  packages/dae-vscode/snippets/dae.json
  packages/dae-vscode/src/completion.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/formatter.ts
  packages/dae-vscode/syntaxes/dae.tmLanguage.json
  packages/dae-vscode/tsconfig.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
Owners: @daeuniverse/governance

chore: remove pnpm version specification in release workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix(docs): update logo path in README.md
  README.md
Owners: @daeuniverse/governance

chore(deps): update dependencies to latest versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

build(deps): upgrade vite to version 8.0.0-beta.0 and update related configurations
  apps/web/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

feat(parser): add parser for dae language with AST and symbol information
  apps/web/vite.config.ts
  packages/dae-vscode/.npmrc
  packages/dae-vscode/package.json
  packages/dae-vscode/snippets/dae.json
  packages/dae-vscode/src/completion.ts
  packages/dae-vscode/src/definition.ts
  packages/dae-vscode/src/diagnostics.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/formatter.ts
  packages/dae-vscode/src/hover.ts
  packages/dae-vscode/src/parser.ts
  packages/dae-vscode/src/references.ts
  packages/dae-vscode/src/rename.ts
  packages/dae-vscode/src/semanticTokens.ts
  packages/dae-vscode/syntaxes/dae.tmLanguage.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @daeuniverse/governance

fix(release): update outputs for main package in release workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: add publish workflow for dae-editor and dae-node-parser packages
  .github/workflows/publish-packages.yml
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra
