Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

feat(monaco): integrate Shiki for enhanced syntax highlighting and theme support
  package.json
  pnpm-lock.yaml
  src/components/PlainTextFormModal.tsx
  src/constants/editor.ts
  src/monaco.ts
  src/pages/Experiment.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

feat: enhance draggable components with grip handles
  package.json
  patches/monaco-themes.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/DraggableResourceBadge.tsx
  src/components/DraggableResourceCard.tsx
  src/components/SortableGroupContent.tsx
  src/components/SortableResourceBadge.tsx
  src/components/index.ts
  src/constants/editor.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Experiment.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

feat: add sortable components for nodes and subscriptions
  src/components/PlainTextFormModal.tsx
  src/components/SortableGroupContent.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableSubscriptionCard.tsx
  src/components/index.ts
  src/pages/MainLayout.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/daed

chore(release-please): update Docker setup for container image publishing
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

refactor: replace toast implementation with Sonner and remove deprecated components
  src/App.tsx
  src/components/ui/index.ts
  src/components/ui/sonner.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/contexts/index.tsx
  src/pages/Setup.tsx
Owners: @daeuniverse/daed

fix(i18n): update labels for sensitive content visibility in English and Chinese locales
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/Subscription.tsx
Owners: @daeuniverse/daed

refactor: implement delayed form reset on modal close for improved UX
  src/components/ConfigFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/ExpandedTableRow.tsx
  src/components/GroupFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
Owners: @daeuniverse/daed

refactor(QRCodeModal): improve layout and styling for link display and copy button
  src/components/QRCodeModal.tsx
Owners: @daeuniverse/daed

refactor(graphql): enhance type definitions and add detailed comments for clarity
  src/schemas/gql/fragment-masking.ts
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed

refactor: integrate persistent store for sort orders and optimize state management
  src/components/SortableGroupContent.tsx
  src/pages/Orchestrate/index.tsx
  src/store/index.ts
Owners: @daeuniverse/daed

feat: enhance form structure and integrate actions portal for improved footer management
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ConfigureNodeFormModal/types.ts
  src/components/EditNodeFormModal.tsx
  src/components/ui/scrollable-dialog.tsx
Owners: @daeuniverse/daed

feat: make children prop optional and conditionally render button for details modal
  src/components/SimpleCard.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Routing.tsx
Owners: @daeuniverse/daed

feat: implement drag-and-drop functionality for input list items
  src/components/ui/input-list.tsx
Owners: @daeuniverse/daed

feat: responsive design in resource and card components
  src/components/DraggableResourceBadge.tsx
  src/components/DraggableResourceCard.tsx
  src/components/SortableNodeCard.tsx
  src/components/SortableResourceBadge.tsx
  src/components/SortableSubscriptionCard.tsx
Owners: @daeuniverse/daed

feat: add ConfigDetailView component for detailed configuration display
  src/components/ConfigDetailView.tsx
  src/components/index.ts
  src/pages/Orchestrate/Config.tsx
Owners: @daeuniverse/daed

feat: add mock mode support and update screenshot generation process
  .github/workflows/release-please.yml
  README.md
  docs/screenshots/mobile/.gitkeep
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/.gitkeep
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
  package.json
  pnpm-lock.yaml
  release-please-config.json
  scripts/screenshot.ts
  src/Router.tsx
  src/components/Header.tsx
  src/components/Section.tsx
  src/components/SortableGroupContent.tsx
  src/contexts/index.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/initialize.ts
  src/mocks/client.ts
  src/mocks/data.ts
  src/mocks/index.ts
  src/pages/Experiment.tsx
  src/pages/MainLayout.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Routing.tsx
  src/pages/Orchestrate/Subscription.tsx
  src/pages/Orchestrate/index.tsx
  src/pages/Setup.tsx
  src/pages/index.ts
Owners: @daeuniverse/infra, @daeuniverse/governance, @daeuniverse/docs, @daeuniverse/daed

chore: update release-please configuration to maintain node release type
  release-please-config.json
Owners: @daeuniverse/governance

chore: update screenshot generation process to create pull requests instead of direct commits
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: enhance group sorting functionality
  src/components/SortableGroupContent.tsx
  src/pages/Orchestrate/Node.tsx
  src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/daed

chore: update screenshots
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Owners: @daeuniverse/docs

chore: update auto-generated screenshot message to skip CI
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: add ProfileSwitcher component for managing user profiles and integrate it into the Header
  src/components/Header.tsx
  src/components/ProfileSwitcher.tsx
  src/components/index.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/store/index.ts
Owners: @daeuniverse/daed

chore: update screenshots
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: update commit message for auto-generated screenshots to include [skip ci]
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: change workflow runners from ubuntu to macos
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: improve file upload process in release workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: enhance release workflow with parallel processing
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

fix: correct zip command in release workflow to include directory path
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

chore: remove unused Mantine packages from dependencies
  package.json
  pnpm-lock.yaml
Owners: @daeuniverse/governance

feat: enable multi-selection for LAN/WAN interfaces (#601)
  src/components/ConfigFormModal.tsx
  src/components/ui/multi-select.tsx
Owners: @daeuniverse/daed

chore: migrate to pnpm catalog for centralized dependency version management (#607)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

refactor: update GitHub Pages publishing workflow to depend on build-web job
  .github/workflows/release-please.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ProfileSwitcher.tsx
Owners: @daeuniverse/infra, @daeuniverse/governance, @daeuniverse/daed

feat: add aria-labels for accessibility in UI components (#610)
  src/components/ui/input-list.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/number-input.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

feat: add comprehensive keyboard shortcuts support with help modal (#614)
  src/components/Header.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useKeyboardShortcuts.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

chore: update screenshots [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra
