Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

chore: migrate DAE VS Code extension to use language server protocol
  .release-please-manifest.json
  .vscode/launch.json
  .vscode/tasks.json
  eslint.config.js
  packages/dae-editor/src/constants.ts
  packages/dae-lsp/.gitignore
  packages/dae-lsp/LICENSE
  packages/dae-lsp/README.md
  packages/dae-lsp/package.json
  packages/dae-lsp/src/core/completions.ts
  packages/dae-lsp/src/core/docs.ts
  packages/dae-lsp/src/core/formatter.ts
  packages/dae-lsp/src/core/mod.ts
  packages/dae-lsp/src/core/parser.ts
  packages/dae-lsp/src/mod.ts
  packages/dae-lsp/src/server.ts
  packages/dae-lsp/tsconfig.json
  packages/dae-lsp/tsdown.config.ts
  packages/dae-vscode/.vscode/launch.json
  packages/dae-vscode/.vscode/tasks.json
  packages/dae-vscode/package.json
  packages/dae-vscode/src/definition.ts
  packages/dae-vscode/src/diagnostics.ts
  packages/dae-vscode/src/extension.ts
  packages/dae-vscode/src/references.ts
  packages/dae-vscode/src/rename.ts
  packages/dae-vscode/src/semanticTokens.ts
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
Owners: @daeuniverse/governance

feat(dae-lsp): add browser LSP support and fix completions
  .github/workflows/publish-packages.yml
  apps/web/package.json
  apps/web/src/components/DaeEditor.tsx
  apps/web/src/components/PlainTextFormModal.tsx
  apps/web/src/components/index.ts
  apps/web/src/main.tsx
  apps/web/src/monaco.ts
  apps/web/src/pages/Orchestrate/DNS.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/src/suppress-monaco-errors.ts
  packages/dae-editor/package.json
  packages/dae-editor/src/constants.ts
  packages/dae-editor/src/index.ts
  packages/dae-editor/src/lsp-client.ts
  packages/dae-editor/src/monaco.ts
  packages/dae-editor/tsdown.config.ts
  packages/dae-lsp/package.json
  packages/dae-lsp/src/browser-server.ts
  packages/dae-lsp/src/core/completions.ts
  packages/dae-lsp/src/core/parser.ts
  packages/dae-lsp/src/server-core.ts
  packages/dae-lsp/src/server-node.ts
  packages/dae-lsp/src/server.ts
  packages/dae-lsp/tsdown.config.ts
  packages/dae-node-parser/package.json
  packages/dae-node-parser/tsdown.config.ts
  packages/dae-vscode/package.json
  packages/dae-vscode/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Owners: @daeuniverse/infra, @daeuniverse/governance

chore: update screenshots for v1.21.0 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Owners: @daeuniverse/docs

fix: remove rolldownOptions from build configuration
  apps/web/vite.config.ts
Owners: @daeuniverse/governance

chore: update screenshots for v1.21.1 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

feat: add mock mode build functionality to screenshot script
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
  scripts/screenshot.ts
Owners: @daeuniverse/docs, @daeuniverse/governance

chore: update pnpm workspace configuration and fix regex in formatter
  packages/dae-editor/src/formatter.ts
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

fix: disable telemetry and tracking during build process
  Makefile
  package.json
  turbo.json
Owners: @daeuniverse/governance

feat: optimize user experience
  apps/web/src/components/ConfigureNodeFormModal/AnyTLSForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/index.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/registry.ts
  apps/web/src/components/DNSFormModal/DNSForm.tsx
  apps/web/src/components/DNSFormModal/RoutingList.tsx
  apps/web/src/components/DNSFormModal/UpstreamList.tsx
  apps/web/src/components/DNSFormModal/index.tsx
  apps/web/src/components/DNSFormModal/parser.ts
  apps/web/src/components/DNSFormModal/types.ts
  apps/web/src/components/DaeEditor.tsx
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/src/components/RoutingFormModal.tsx
  apps/web/src/constants/default.ts
  apps/web/src/constants/schema.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/monaco.ts
  apps/web/src/pages/Orchestrate/DNS.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/vite.config.ts
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/index.ts
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
Owners: @daeuniverse/governance

feat(ui): enhance layout and visual design system
  apps/web/src/components/Header.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/index.css
  apps/web/src/pages/MainLayout.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

fix(dnd): migrate to @hello-pangea/dnd and fix drag issues in modals
  apps/web/package.json
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/DraggableResourceCard.tsx
  apps/web/src/components/DroppableGroupCard.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableNodeCard.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/components/SortableSubscriptionCard.tsx
  apps/web/src/components/ui/input-list.tsx
  apps/web/src/pages/MainLayout.tsx
  apps/web/src/pages/Orchestrate/Node.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/store/index.ts
  apps/web/src/types/index.d.ts
  apps/web/src/utils/dnd-kit.ts
  apps/web/src/utils/dnd.ts
  apps/web/src/utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

fix(ci): increase Node.js heap memory to prevent OOM during build
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

chore: update screenshots for v1.23.0 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Owners: @daeuniverse/docs

fix(ci): add packages write permission for ghcr.io push
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

ci: use go 1.24 branch because go 1.25's issue#77217
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

ci: use go 1.24 branch because go 1.25's issue#77217 (#700)
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix(dnd): allow dragging subscription nodes into groups
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

feat: optimize user experience
  apps/web/src/components/ConfigureNodeFormModal/AnyTLSForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/index.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/registry.ts
  apps/web/src/components/DNSFormModal/DNSForm.tsx
  apps/web/src/components/DNSFormModal/RoutingList.tsx
  apps/web/src/components/DNSFormModal/UpstreamList.tsx
  apps/web/src/components/DNSFormModal/index.tsx
  apps/web/src/components/DNSFormModal/parser.ts
  apps/web/src/components/DNSFormModal/types.ts
  apps/web/src/components/DaeEditor.tsx
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/src/components/RoutingFormModal.tsx
  apps/web/src/constants/default.ts
  apps/web/src/constants/schema.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/monaco.ts
  apps/web/src/pages/Orchestrate/DNS.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/vite.config.ts
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/index.ts
  packages/dae-node-parser/src/parser.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/parser.test.ts
Owners: @daeuniverse/governance

fix(pr-677): address review feedback
  apps/web/src/components/ConfigureNodeFormModal/AnyTLSForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/vite.config.ts
Owners: @daeuniverse/governance

fix(deps): resolve 8 security vulnerabilities and group dependabot npm updates
  .github/dependabot.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/infra, @daeuniverse/governance

chore: update screenshots for v1.24.0 [skip ci]
  docs/screenshots/pc/orchestrate.png
Owners: @daeuniverse/docs

fix(ci): add concurrency control to release-please workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat: 增加批量添加节点到群组)
  apps/web/src/components/BatchAddNodesModal.tsx
  apps/web/src/components/index.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
Owners: @daeuniverse/governance

feat: add settings
  .kiro/steering/personal.md
  .kiro/steering/project.md
Owners: @daeuniverse/governance

add SIP022 AEAD-2022 Ciphers
  apps/web/src/components/ConfigureNodeFormModal/SSForm.tsx
  apps/web/src/constants/schema.ts
  packages/dae-node-parser/src/types.ts
Owners: @daeuniverse/governance

Update wing submodule to b22dd8a8c3a449df69cc12223cb8805a5d4c4b0c
  .gitmodules
Owners: @daeuniverse/governance

fix(ui/multi-select): fix scrolling issue of multi-select component
  apps/web/src/components/ui/multi-select.tsx
Owners: @daeuniverse/governance

fix(ui): fix scrolling issue of multi-select component (#726)
  apps/web/src/components/ui/multi-select.tsx
Owners: @daeuniverse/governance

fix: resolve CI failures from dependency upgrade breakages
  apps/web/src/components/Header.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

fix(ci): use tag ref for update-screenshots checkout
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix(ci): add workflow_dispatch trigger for manual release builds
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

deploy: d02bad4783f395d3e22dd71f20a1e61c8cc8747c
  assets/cssMode-BAgREqok.js
  assets/cssMode-D13PfexE.js
  assets/editor.api-CXN8G0XC.js
  assets/graphqlMode-D7DYpznB.js
  assets/graphqlMode-jKh8B25u.js
  assets/htmlMode-CeARLe6l.js
  assets/htmlMode-DGbMOkge.js
  assets/index-FipVV30S.js
  assets/jsonMode-C_-NcPFm.js
  assets/jsonMode-Cm3w6ca7.js
  assets/lite-CKrCcOSn.js
  assets/lite-DtxcSKgE.js
  assets/monaco-editor-DNzbnswI.js
  assets/monaco-editor-Hj6toMAB.js
  assets/monaco-editor-Rh9uxpCr.js
  assets/monaco.contribution-9qQ4YVpn.js
  assets/monaco.contribution-BNPO4ucI.js
  assets/monaco.contribution-Bz3yoKNp.js
  assets/monaco.contribution-CElVkf-q.js
  assets/tsMode-DZC5H0Y5.js
  index.html
Owners: @daeuniverse/governance

fix(ci): add base branch for create-pull-request in detached HEAD
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix(deps): override vulnerable transitive dependencies
  pnpm-lock.yaml
Owners: @daeuniverse/governance

fix(deps): add vulnerability overrides to pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @daeuniverse/governance

fix(security): mitigate polynomial ReDoS in formatter and parser
  packages/dae-editor/src/formatter.ts
  packages/dae-lsp/src/core/formatter.ts
  packages/dae-lsp/src/core/parser.ts
Owners: @daeuniverse/governance

refactor: extract shared formatter into @daeuniverse/dae-lang-core package
  packages/dae-editor/package.json
  packages/dae-editor/src/formatter.ts
  packages/dae-lang-core/package.json
  packages/dae-lang-core/src/formatter.ts
  packages/dae-lang-core/src/index.ts
  packages/dae-lang-core/tests/formatter.test.ts
  packages/dae-lang-core/tsconfig.json
  packages/dae-lang-core/tsdown.config.ts
  packages/dae-lsp/package.json
  packages/dae-lsp/src/core/formatter.ts
  pnpm-lock.yaml
Owners: @daeuniverse/governance

fix: correct indexOf argument positioning in parser findFuncCalls
  packages/dae-lsp/src/core/parser.ts
Owners: @daeuniverse/governance

test: add unit tests for LSP parser
  packages/dae-lsp/tests/parser.test.ts
Owners: @daeuniverse/governance

chore: register dae-lang-core in release-please config
  .release-please-manifest.json
  release-please-config.json
Owners: @daeuniverse/governance

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra
