Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

fix(ci): correct dae-lsp manifest version and add dae-lang-core publish workflow
  .github/workflows/publish-packages.yml
  .release-please-manifest.json
Owners: @daeuniverse/infra, @daeuniverse/governance

feat(web): add group resource pickers and improve drag UX
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/DroppableGroupCard.tsx
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

feat(web): add group resource pickers and improve drag UX (#736)
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/DroppableGroupCard.tsx
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

chore: update screenshots for v1.27.0 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Owners: @daeuniverse/docs

feat(web): add regex-filtered group subscriptions
  apps/web/src/apis/mutation.ts
  apps/web/src/apis/query.ts
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/mocks/data.ts
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

fix(web): address regex group subscription review feedback
  apps/web/src/apis/mutation.ts
  apps/web/src/apis/query.ts
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/mocks/data.ts
  apps/web/src/schemas/gql/gql.ts
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

fix(web): tighten regex error handling in group picker
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
Owners: @daeuniverse/governance

fix(web): keep picker errors scoped during submit
  apps/web/src/components/GroupResourcePickerModal.tsx
Owners: @daeuniverse/governance

feat(web): add regex-filtered group subscriptions (#738)
  apps/web/src/apis/mutation.ts
  apps/web/src/apis/query.ts
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/mocks/data.ts
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/schemas/gql/gql.ts
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

fix(web): drop unused GroupAddNodes variable
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

fix(web): refine traffic overview timeline and layout
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

style(web): tighten traffic overview layout
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

feat(web): add runtime traffic overview
  .gitmodules
  apps/web/src/apis/query.ts
  apps/web/src/constants/misc.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

fix(web): make traffic updates more responsive
  apps/web/src/apis/query.ts
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

feat(web): show node latency in groups
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

feat(web): add node latency probe actions
  apps/web/src/apis/mutation.ts
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Node.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

fix(web): align traffic charts to bottom
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

fix(web): default traffic overview to 1 minute
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

fix(web): highlight latency in group picker
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/pages/Orchestrate/Group.tsx
Owners: @daeuniverse/governance

fix(web): equalize traffic overview columns
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

style(web): lower traffic chart x-axis labels
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

style(web): simplify traffic chart headers
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
Owners: @daeuniverse/governance

feat(web): persist and refresh node latencies
  apps/web/src/apis/query.ts
  apps/web/src/constants/misc.ts
  apps/web/src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/governance

chore(submodule): point wing to traffic latency api branch
  .gitmodules
Owners: @daeuniverse/governance

fix(web): drop unused GroupAddNodes variable
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

fix(web): tighten latency display and refresh behavior
  apps/web/src/apis/mutation.ts
  apps/web/src/apis/query.ts
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Node.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/utils/latency.ts
Owners: @daeuniverse/governance

fix(web): refine traffic and latency review follow-ups
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/utils/latency.ts
Owners: @daeuniverse/governance

fix(web): drop unused GroupAddNodes variable (#741)
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

feat(web): add runtime traffic overview and node latency displays (#742)
  apps/web/src/apis/mutation.ts
  apps/web/src/apis/query.ts
  apps/web/src/components/DraggableResourceBadge.tsx
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/SortableGroupContent.tsx
  apps/web/src/components/SortableResourceBadge.tsx
  apps/web/src/constants/misc.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Node.tsx
  apps/web/src/pages/Orchestrate/Subscription.tsx
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/utils/latency.ts
Owners: @daeuniverse/governance

fix(web): keep current checks passing
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/tsconfig.json
  eslint.config.js
Owners: @daeuniverse/governance

feat(web): expose bootstrap resolver data
  apps/web/src/apis/query.ts
  apps/web/src/schemas/gql/gql.ts
  apps/web/src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance

feat(web): add bootstrap resolver defaults
  apps/web/src/constants/default.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/mocks/data.ts
Owners: @daeuniverse/governance

feat(web): add bootstrap resolver input
  apps/web/src/components/ConfigFormModal.tsx
Owners: @daeuniverse/governance

test(web): cover bootstrap resolver defaults
  apps/web/src/constants/default.test.ts
Owners: @daeuniverse/governance

feat(web): add bootstrap resolver config input (#757)
  apps/web/src/apis/query.ts
  apps/web/src/components/ConfigFormModal.tsx
  apps/web/src/components/GroupResourcePickerModal.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/constants/default.test.ts
  apps/web/src/constants/default.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/mocks/data.ts
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/TrafficOverview.tsx
  apps/web/src/pages/Orchestrate/index.tsx
  apps/web/src/schemas/gql/gql.ts
  apps/web/src/schemas/gql/graphql.ts
  apps/web/tsconfig.json
  eslint.config.js
Owners: @daeuniverse/governance

install: align daed systemd unit with dae.service, add openwrt procd init + daed-guard wrapper
  docs/linux-installation.md
  install/daed.service
  install/linux/cleanup.sh
  install/linux/daed-guard
  install/openwrt/daed
Owners: @daeuniverse/docs, @daeuniverse/governance

build: refresh the lockfile for the @graphql-codegen/cli catalog entry
  pnpm-lock.yaml
Owners: @daeuniverse/governance

fix(web): make the run toggle send the requested state
  apps/web/src/components/Header.tsx
Owners: @daeuniverse/governance

fix(web): send the auth token from GraphiQL
  apps/web/src/Router.tsx
Owners: @daeuniverse/governance

fix(web): keep vmess header type and path for the networks that use them
  apps/web/src/components/ConfigureNodeFormModal/V2rayForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.test.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
Owners: @daeuniverse/governance

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra
