Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

feat(node): support edit node (#540)
  src/apis/mutation.ts
  src/components/EditNodeFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed

feat(password): support change password https://github.com/daeuniverse/daed/issues/211
  src/apis/mutation.ts
  src/components/Header.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

feat(password): support change password (#538)
  src/apis/mutation.ts
  src/components/Header.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

feat(subscription): support edit subscription
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
Owners: @daeuniverse/daed

feat(subscription): fix input is disable when edit
  src/components/EditSubscriptionFormModal.tsx
Owners: @daeuniverse/daed

feat(subscription): support edit subscription (#539)
  src/components/EditSubscriptionFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Subscription.tsx
Owners: @daeuniverse/daed

feat(node): refactor EditNodeFormModal to use Dialog component and improve form handling
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
Owners: @daeuniverse/daed

feat: enhance component functionality and improve code structure
  .lintstagedrc.yml
  .vscode/settings.json
  eslint.config.js
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/Header.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/QRCodeModal.tsx
  src/components/SimpleCard.tsx
  src/components/Table.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/form.tsx
  src/components/ui/select.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/toggle-group.tsx
  src/contexts/index.tsx
  src/hooks/use-mobile.ts
  src/monaco.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

fix: update lint-staged configuration and improve component layout
  .lintstagedrc.yml
  package.json
  src/components/ConfigureNodeFormModal/index.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

fix: update publish-gh-pages job to trigger only on new releases
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix: correct version format in package.json and update release type in release-please-config.json
  package.json
  release-please-config.json
Owners: @daeuniverse/governance

docs: update README and CONTRIBUTING files for clarity and improved structure
  CONTRIBUTING.md
  README.md
Owners: @daeuniverse/governance

fix: standardize Dockerfile stage names to uppercase
  Dockerfile
  publish.Dockerfile
Owners: @daeuniverse/governance

feat: update pnpm workspace and vite configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Owners: @daeuniverse/governance

fix: update Go version to 1.22 and improve code formatting in form components
  .github/workflows/release-please.yml
  src/components/ConfigFormModal.tsx
  src/components/PlainTextFormModal.tsx
Owners: @daeuniverse/infra, @daeuniverse/daed

fix: improve code formatting and consistency in PlainTextFormModal component
  src/components/PlainTextFormModal.tsx
Owners: @daeuniverse/daed

fix: disable caching for Go setup in release workflow
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

fix: update Dockerfile to streamline build process and remove unnecessary platforms
  .github/workflows/release-please.yml
  install/friendly-filenames.json
  publish.Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

fix: update husky scripts to use pnpm for consistency
  .husky/commit-msg
  .husky/pre-commit
Owners: @daeuniverse/governance

feat: implement scrollable dialog components and update existing dialogs to use them
  src/components/ConfigFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/SimpleCard.tsx
  src/components/ui/index.ts
  src/components/ui/scrollable-dialog.tsx
Owners: @daeuniverse/daed

feat: enhance ConfigureNodeFormModal with scrollable dialog components
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/ui/accordion.tsx
  src/components/ui/input.tsx
  src/components/ui/number-input.tsx
Owners: @daeuniverse/daed

feat: refactor modal components to improve type safety and props structure
  src/components/ConfigFormModal.tsx
  src/components/DraggableResourceCard.tsx
  src/components/GroupFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/QRCodeModal.tsx
  src/components/RenameFormModal.tsx
  src/components/SortableResourceBadge.tsx
  src/components/Table.tsx
  src/components/index.ts
  src/components/ui/badge.tsx
  src/components/ui/calendar.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/field.tsx
  src/components/ui/input-group.tsx
  src/components/ui/input.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/use-toast.ts
  src/constants/misc.ts
  src/pages/Experiment.tsx
  src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/daed

feat: improve code formatting and enhance drag overlay behavior
  src/pages/Experiment.tsx
  src/pages/Orchestrate/index.tsx
Owners: @daeuniverse/daed

feat: update Header component to use APP_VERSION from environment variables
  src/components/Header.tsx
  vite.config.ts
Owners: @daeuniverse/daed, @daeuniverse/governance

feat: refactor forms to use react-hook-form with zod validation
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/GroupFormModal.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
  src/components/ui/index.ts
  src/components/ui/input-list.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

feat: update Header component to handle avatar display and add APP_VERSION type definitions
  src/components/Header.tsx
  src/vite-env.d.ts
Owners: @daeuniverse/daed

feat: enhance README with Docker deployment instructions and online demo section
  README.md
Owners: @daeuniverse/governance

feat(docs): update build, commit message guide, and getting started documentation
  CHANGELOGS.md
  docs/build.md
  docs/commit-msg-guide.md
  docs/getting-started.md
Owners: @daeuniverse/release, @daeuniverse/docs

feat(dependabot): add daily update schedules for GitHub Actions and Git submodules
  .github/dependabot.yml
Owners: @daeuniverse/infra

fix(i18n): refine endpoint setup messages for clarity and consistency
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Setup.tsx
Owners: @daeuniverse/daed

feat(forms): extract setValue logic into useSetValue hook and enhance form validation
  src/components/ConfigFormModal.tsx
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/EditNodeFormModal.tsx
  src/components/EditSubscriptionFormModal.tsx
  src/components/FormActions.tsx
  src/components/GroupFormModal.tsx
  src/components/Header.tsx
  src/components/ImportResourceFormModal.tsx
  src/components/PlainTextFormModal.tsx
  src/components/RenameFormModal.tsx
  src/hooks/useSetValue.ts
Owners: @daeuniverse/daed

feat(Header): enhance header component with new Sheet elements and improve button styles
  .vscode/settings.json
  src/components/Header.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

feat(forms): implement useNodeForm hook for streamlined form handling
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/FormActions.tsx
  src/hooks/index.ts
  src/hooks/useNodeForm.ts
  src/utils/index.ts
  src/utils/node-parser.ts
Owners: @daeuniverse/daed

feat(EditNodeFormModal): refactor to support edit node configurations
  src/components/ConfigureNodeFormModal/HTTPForm.tsx
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/SSForm.tsx
  src/components/ConfigureNodeFormModal/SSRForm.tsx
  src/components/ConfigureNodeFormModal/Socks5Form.tsx
  src/components/ConfigureNodeFormModal/TrojanForm.tsx
  src/components/ConfigureNodeFormModal/TuicForm.tsx
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
  src/components/ConfigureNodeFormModal/types.ts
  src/components/EditNodeFormModal.tsx
  src/hooks/useNodeForm.ts
Owners: @daeuniverse/daed

feat: add rename functionality to various components
  src/components/DroppableGroupCard.tsx
  src/components/SimpleCard.tsx
  src/pages/Orchestrate/Config.tsx
  src/pages/Orchestrate/DNS.tsx
  src/pages/Orchestrate/Group.tsx
  src/pages/Orchestrate/Routing.tsx
Owners: @daeuniverse/daed

feat(styles): update color scheme for light and dark modes
  src/index.css
Owners: @daeuniverse/daed

fix(SimpleCard): adjust border styles and class names for improved layout
  src/components/SimpleCard.tsx
Owners: @daeuniverse/daed

feat(theme): refactor color scheme handling to support theme modes
  src/App.tsx
  src/components/Header.tsx
  src/contexts/index.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/store/index.ts
Owners: @daeuniverse/daed

style(README, Header): enhance button styles with rounded corners and update logo presentation
  README.md
  src/components/Header.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

chore(README): update logo image and remove unused preview file
  README.md
  docs/preview.webp
  public/logo-rounded.png
Owners: @daeuniverse/governance, @daeuniverse/docs
