Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

chore: remove BUILD_ARGS in workflows (#234)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: generate changelogs for release-v0.3.3
  CHANGELOGS.md
Owners: @daeuniverse/release

style: apply formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: generate changelogs for release-v0.3.3
  CHANGELOGS.md
Owners: @daeuniverse/release

style: apply formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

style: apply formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

docs: Added Debian, RedHat, openSUSE, installation instructions
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: Modify the self-starting comment description
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: Correction instructions
  docs/getting-started.md
Owners: @daeuniverse/docs

Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: Added Debian, RedHat, openSUSE, installation instructions (#246)
  docs/getting-started.md
Owners: @daeuniverse/docs

docs(getting-started): make subtle changes
  docs/getting-started.md
Owners: @daeuniverse/docs

docs(getting-started): make subtle changes (#247)
  docs/getting-started.md
Owners: @daeuniverse/docs

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Owners: @daeuniverse/governance

feat: add resolve for juicity and tuic
  src/models/resolvers/juicity.ts
  src/models/resolvers/tuic.ts
Owners: @daeuniverse/daed

test: remove resolver test for now
  src/models/resolvers/index.test.ts
Owners: @daeuniverse/daed

ci(pick): fix build failure due to go mod not being updated
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

ci(pick): fix build failure due to go mod not being updated (#248)
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

feat(config): add form field `soMarkFromDae`
  package.json
  pnpm-lock.yaml
  src/components/ConfigFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

chore: add github dependabot.yml
  .github/dependabot.yml
Owners: @daeuniverse/infra

fix: lacking default soMarkFromDae
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
Owners: @daeuniverse/daed

fix: declare query result soMarkFromDae
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

feat(routing): add dnsmasq to must_direct default routing
  src/constants/default.ts
Owners: @daeuniverse/daed

feat(routing): add dnsmasq to must_direct default routing (#258)
  src/constants/default.ts
Owners: @daeuniverse/daed

feat(config): add form field `soMarkFromDae` (#251)
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

ci(generate-changelogs): update default assignees list
  .github/workflows/generate-changelogs.yml
Owners: @daeuniverse/infra

chore/fix:upgrade llvm and clang version (https://github.com/daeuniverse/daed/issues/250)
  Dockerfile
Owners: @daeuniverse/governance

build/fix(Dockerfile):fix "geoip.dat: file does not exist" (https://github.com/daeuniverse/daed/issues/262)
  .dockerignore
  Dockerfile
  docker-compose.yml
Owners: @daeuniverse/governance

ci: generate changelogs for release-v0.4.0rc1
  CHANGELOGS.md
Owners: @daeuniverse/release

docs(getting-started):Add Docker(https://github.com/daeuniverse/daed/issues/250#issuecomment-1703896541)
  docs/getting-started.md
Owners: @daeuniverse/docs

style: fix formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

chore: fix conflicts
  CHANGELOGS.md
Owners: @daeuniverse/release

docs: Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: Update docs/getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

chore(Dockerfile): base image upgrade
  Dockerfile
Owners: @daeuniverse/governance

ci(Dockerfile): ENV CLANG=clang-15
  Dockerfile
Owners: @daeuniverse/governance

ci(Dockerfile): clean commented blocks
  Dockerfile
Owners: @daeuniverse/governance
