Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

docker workflow
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci(docker): rework workflow (3rd time) (#289)
  .github/workflows/publish-docker-image.yml
  docs/getting-started.md
  publish.Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/docs, @daeuniverse/governance

docs: update README.md
  README.md
Owners: @daeuniverse/governance

chore: add bash completion
  install/shell-completion/daed
Owners: @daeuniverse/governance

chore: give up compatibility with zsh
  install/shell-completion/daed.bash
Owners: @daeuniverse/governance

ci: update Go version to 1.21
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: fix typo
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: update Go version to 1.21 (#423)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci:manual upgrade
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/sync-upstream.yml
  package.json
  pnpm-lock.yaml
Owners: @daeuniverse/infra, @daeuniverse/governance

revert workflow auto merge
  .github/workflows/dependabot_automerge.yml
  .github/workflows/sync-upstream.yml
Owners: @daeuniverse/infra

ci: update Go version to 1.21 (#423)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: update moudles to the latest tag
  .github/workflows/build.yml
  .github/workflows/generate-changelogs.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .vscode/settings.json
Owners: @daeuniverse/infra, @daeuniverse/governance

ci(release): draft release v0.4.1
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: fix showing linux packages
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci(release): draft release v0.4.1 (#431)
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: use gh to upload release
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: fix 'use gh to upload release'
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: update ci modules to the latest version (#432)
  .github/workflows/build.yml
  .github/workflows/generate-changelogs.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/prerelease.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release.yml
  .vscode/settings.json
Owners: @daeuniverse/infra, @daeuniverse/governance

chore: give up compatibility with zsh
  install/shell-completion/daed.bash
Owners: @daeuniverse/governance

chore: add bash completion
  install/shell-completion/daed
Owners: @daeuniverse/governance

ci(release): draft release v0.6.0
  CHANGELOGS.md
Owners: @daeuniverse/release

ci(release): draft release v0.6.0 (#439)
  CHANGELOGS.md
Owners: @daeuniverse/release

feat: add configure hysteria2 modal
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/utils/node.ts
Owners: @daeuniverse/daed

Update pick-build.yml
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

Update pick-build.yml
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

Update pick-build.yml
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

Update pick-build.yml
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

Update pick-build.yml
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

ci/feat: support customized git remote for Pick Build (#441)
  .github/workflows/pick-build.yml
Owners: @daeuniverse/infra

chore: remove obfuscation option
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Owners: @daeuniverse/daed

fix: e encode the auth field to handle special characters like '@'
  src/utils/node.ts
Owners: @daeuniverse/daed

feat: add configure hysteria2 modal (#440)
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/utils/node.ts
Owners: @daeuniverse/daed

ci(release): draft release v0.7.0rc1
  CHANGELOGS.md
Owners: @daeuniverse/release

Update CHANGELOGS.md
  CHANGELOGS.md
Owners: @daeuniverse/release

ci(release): draft release v0.7.0rc1 (#444)
  CHANGELOGS.md
Owners: @daeuniverse/release

ci(docker): update go version to 1.22
  publish.Dockerfile
Owners: @daeuniverse/governance

ci(docker): update go version to 1.22 (#445)
  publish.Dockerfile
Owners: @daeuniverse/governance

ci(release): draft release v0.7.0rc1.1
  CHANGELOGS.md
Owners: @daeuniverse/release

ci(release): draft release v0.7.0rc1.1 (#446)
  CHANGELOGS.md
Owners: @daeuniverse/release

feat(group): add fixed policy selection
  pnpm-lock.yaml
  src/components/GroupFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/governance, @daeuniverse/daed

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra
