Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

ci(pr-build): update trigger paths (#183)
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Owners: @daeuniverse/infra

fix: reload icon not showing on small size screens
  .github/workflows/pr-build.yml
  src/App.tsx
  src/components/DraggableResourceBadge.tsx
  src/components/Header.tsx
  src/pages/Experiment.tsx
Owners: @daeuniverse/infra, @daeuniverse/daed

fix: rename modal not closing after changing rule names
  src/components/RenameFormModal.tsx
Owners: @daeuniverse/daed

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Owners: @daeuniverse/governance

fix: reload icon not showing on small size screens (#187)
  .github/workflows/pr-build.yml
  src/App.tsx
  src/components/DraggableResourceBadge.tsx
  src/components/Header.tsx
  src/pages/Experiment.tsx
Owners: @daeuniverse/infra, @daeuniverse/daed

fix: rename modal not closing after changing rule names (#188)
  package.json
  pnpm-lock.yaml
  src/components/RenameFormModal.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

ci/fix(pr-build,build): fix submodule path trigger
  .github/workflows/pr-build.yml
Owners: @daeuniverse/infra

fix(build): fix submodule path trigger
  .github/workflows/build.yml
Owners: @daeuniverse/infra

ci/fix(pr-build,build): fix submodule path trigger (#190)
  .github/workflows/build.yml
  .github/workflows/pr-build.yml
Owners: @daeuniverse/infra

feat: add configure juicity modal
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
Owners: @daeuniverse/daed

chore/feat: add checkout.sh
  checkout.sh
Owners: @daeuniverse/governance

fix
  checkout.sh
Owners: @daeuniverse/governance

fix: initialValues of juicify form should be referencing DEFAULT_JUICITY_FORM_VALUES
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
Owners: @daeuniverse/daed

feat: add configure juicity modal (#191)
  src/components/ConfigureNodeFormModal/JuicityForm.tsx
  src/components/ConfigureNodeFormModal/index.tsx
  src/constants/default.ts
  src/constants/schema.ts
Owners: @daeuniverse/daed

fix: execute bit (x) is missing in permissions
  checkout.sh
Owners: @daeuniverse/governance

Update checkout.sh
  checkout.sh
Owners: @daeuniverse/governance

Update checkout.sh
  checkout.sh
Owners: @daeuniverse/governance

fix: typo
  checkout.sh
Owners: @daeuniverse/governance

refactor: relocate /checkout.sh -> /hack/checkout.sh
  hack/checkout.sh
Owners: @daeuniverse/governance

chore/feat: add checkout.sh (#192)
  hack/checkout.sh
Owners: @daeuniverse/governance

ci(generate-changelogs): fix dry_run input description
  .github/workflows/generate-changelogs.yml
Owners: @daeuniverse/infra

ci(generate-changelogs): fix dry_run input description (#193)
  .github/workflows/generate-changelogs.yml
Owners: @daeuniverse/infra

chore: add release-v0.3.0 entry to changelogs
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: generate changelogs for release-v0.3.0
  CHANGELOGS.md
Owners: @daeuniverse/release

style: apply formatting
  CHANGELOGS.md
  pnpm-lock.yaml
Owners: @daeuniverse/release, @daeuniverse/governance

style: apply formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: generate changelogs for release-v0.3.1
  CHANGELOGS.md
Owners: @daeuniverse/release

feat: set color scheme based on system preference
  src/App.tsx
Owners: @daeuniverse/daed

chore(pr_template): fix typo
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @daeuniverse/infra

chore(pr_template): fix typo (#206)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @daeuniverse/infra

feat: set color scheme based on system preference (#205)
  src/App.tsx
Owners: @daeuniverse/daed

feat: disable rollbackError, fixes #207
  src/apis/mutation.ts
Owners: @daeuniverse/daed

feat: disable rollbackError, fixes #207 (#208)
  src/apis/mutation.ts
Owners: @daeuniverse/daed

style: apply formatting
  CHANGELOGS.md
Owners: @daeuniverse/release

ci: generate changelogs for release-v0.3.2
  CHANGELOGS.md
Owners: @daeuniverse/release

fix: copy to clipboard not working when clipboard permissions not permitted
  package.json
  pnpm-lock.yaml
  src/components/QRCodeModal.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

fix: copy to clipboard not working when clipboard permissions not permitted (#217)
  package.json
  pnpm-lock.yaml
  src/components/QRCodeModal.tsx
Owners: @daeuniverse/governance, @daeuniverse/daed

feat: change editor font to `Source Code Pro`
  src/constants/editor.ts
Owners: @daeuniverse/daed

chore: reduce bundle size by using webp and remove unused images
  README.md
  docs/preview.png
  docs/preview.webp
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/logo.png
  public/logo.svg
  public/logo.webp
  public/site.webmanifest
  src/assets/logo.png
  src/assets/logo.svg
  src/components/Header.tsx
Owners: @daeuniverse/governance, @daeuniverse/docs, @daeuniverse/daed

chore: drop .npmrc file
  .npmrc
Owners: @daeuniverse/governance

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra
