Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

ci(Dockerfile): Dockerfile working out of box (#265)
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/getting-started.md
Owners: @daeuniverse/governance, @daeuniverse/docs

ci(generate-changelogs): update default assignees list (#261)
  .github/workflows/generate-changelogs.yml
Owners: @daeuniverse/infra

ci: docker image push with tag
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

add dockerhub
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

fix workflow error
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

fix workflow error
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

dockerhub
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

no quay
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

nothing important
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

dockerhub username
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

nothing important
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

test architecture
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

test repo
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

new platforms
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

nth important
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

nth important
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci(build): publish docker image
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci: upgrade docker build workflow
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci: error fix
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

nth important
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci: standardize Dockerfile
  .github/workflows/publish-docker-image.yml
  Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci: docker build roll back
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

correct mistake recursive
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

test push
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

docs/getting-started.md: add archlinux installation guide
  docs/getting-started.md
Owners: @daeuniverse/docs

docs/getting-started.md: add archlinux installation guide (#283)
  docs/getting-started.md
Owners: @daeuniverse/docs

ci(docker): build with tag on dashboard
  .github/workflows/publish-docker-image.yml
  Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci(docker):upgrade and rework docker ci
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci(docker): comment
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci: use DOCKERHUB_TOKEN
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci(docker): more platform, matrix(disabled), build test
  .github/workflows/docker-ci.yml
  .github/workflows/publish-docker-image.yml
  .github/workflows/test-publish-docker-image.yml
  publish.Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci(docker): needs build-web
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci(docker): more platform, matrix(disabled), build test (#4)
  .github/workflows/publish-docker-image.yml
  publish.Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

doc(docker): Update getting-started.md
  docs/getting-started.md
Owners: @daeuniverse/docs

ci(docker): rework docker publish workflow, push to dockerhub (#2)
  .github/workflows/publish-docker-image.yml
  Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci(docker): build with tag on dashboard (#3)
  .github/workflows/publish-docker-image.yml
  Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci: docker image push with tag
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

rename stage in publish.Dockerfile
  .github/workflows/publish-docker-image.yml
  publish.Dockerfile
Owners: @daeuniverse/infra, @daeuniverse/governance

ci(docker): add test tag
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

Update publish.Dockerfile
  publish.Dockerfile
Owners: @daeuniverse/governance
