Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

daed should be started after dae
  install/daed.service
Owners: @daeuniverse/governance

Update daed.service
  install/daed.service
Owners: @daeuniverse/governance

chore(daed.service): conflict with dae.service (#471)
  install/daed.service
Owners: @daeuniverse/governance

feat(group): add fixed policy selection (#467)
  pnpm-lock.yaml
  src/components/GroupFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/governance, @daeuniverse/daed

build desktop entry and icon into installer
  .github/workflows/release.yml
Owners: @daeuniverse/infra

trigger ci
  install/1
Owners: @daeuniverse/governance

revert trigger ci
  install/1
Owners: @daeuniverse/governance

ci: build desktop entry and icon into installer (#492)
  .github/workflows/release.yml
Owners: @daeuniverse/infra

ci: build desktop entry and icon into installer (#492)
  .github/workflows/release.yml
Owners: @daeuniverse/infra

fix(hy2): insecure parameter not work
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Owners: @daeuniverse/daed

fix(hy2): insecure parameter not work (#493)
  src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
Owners: @daeuniverse/daed

ci(release): draft release v0.7.4
  CHANGELOGS.md
Owners: @daeuniverse/release

chore: dns.google.com should be dns.google according Google recommend
  src/constants/default.ts
Owners: @daeuniverse/daed

chore: dns.google.com should be dns.google according Google recommend (#496)
  src/constants/default.ts
Owners: @daeuniverse/daed

ci: change docker image build trigger
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

ci: change docker image build trigger (#501)
  .github/workflows/publish-docker-image.yml
Owners: @daeuniverse/infra

feat(config): add form field
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

chore: optimize field descriptions
  src/components/ConfigFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
Owners: @daeuniverse/daed

feat(config): add form field (#498)
  package.json
  pnpm-lock.yaml
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/governance, @daeuniverse/daed

fix(import): cannot import node
  src/components/ImportResourceFormModal.tsx
Owners: @daeuniverse/daed

fix(import): cannot import node (#507)
  src/components/ImportResourceFormModal.tsx
Owners: @daeuniverse/daed

fix(i18n): identifier mismatch & awkward English translations
  src/i18n/locales/en.json
Owners: @daeuniverse/daed

fix(i18n): identifier mismatch & awkward English translations (#509)
  src/i18n/locales/en.json
Owners: @daeuniverse/daed

docs: add Fedora Copr to Quick Start Guide
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: add Fedora Copr to Quick Start Guide (#516)
  docs/getting-started.md
Owners: @daeuniverse/docs

fix(v2ray): vmess websocket path emty
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
Owners: @daeuniverse/daed

fix(v2ray): vmess websocket path emty (#521)
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
Owners: @daeuniverse/daed

docs: update archlinuxcn package name & add AVX2 package to AUR
  docs/getting-started.md
Owners: @daeuniverse/docs

docs: update archlinuxcn package name & add AVX2 package to AUR (#523)
  docs/getting-started.md
Owners: @daeuniverse/docs

feat(config): add fallbackResolver form field
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed

docs: update archlinuxcn package name & add AVX2 package to AUR (#523)
  docs/getting-started.md
Owners: @daeuniverse/docs

fix(v2ray): vmess websocket path emty (#521)
  src/components/ConfigureNodeFormModal/V2rayForm.tsx
Owners: @daeuniverse/daed

feat(config): add fallbackResolver form field (#530)
  src/apis/query.ts
  src/components/ConfigFormModal.tsx
  src/constants/default.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed

Update .release-please-manifest.json
  .release-please-manifest.json
Owners: @daeuniverse/governance

Update release-please-config.json
  release-please-config.json
Owners: @daeuniverse/governance

feat: migrate to release-please for automated releases (#546)
  .github/workflows/generate-changelogs.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Owners: @daeuniverse/infra, @daeuniverse/governance

chore: remove non-release workflows (#549)
  .github/workflows/build.yml
  .github/workflows/pick-build.yml
  .github/workflows/pr-build.yml
  .github/workflows/sync-upstream.yml
Owners: @daeuniverse/infra

Delete .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @daeuniverse/infra

chore: remove deprecated GitHub Actions workflows for Docker image and GitHub Pages publishing
  .github/workflows/publish-docker-image.yml
  .github/workflows/publish-gh-pages.yml
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

feat(node): support edit node
  src/apis/mutation.ts
  src/components/EditNodeFormModal.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh-Hans.json
  src/pages/Orchestrate/Node.tsx
  src/schemas/gql/gql.ts
  src/schemas/gql/graphql.ts
Owners: @daeuniverse/daed
