Repository daeuniverse/daed, changes with the owners that CODEOWNERS names for each.
All owners: @daeuniverse/governance, @daeuniverse/daed, @daeuniverse/docs, @daeuniverse/release, @daeuniverse/infra

CODEOWNERS:

* @daeuniverse/governance
/src/** @daeuniverse/daed
/docs/** @daeuniverse/docs
CHANGELOGS.md @daeuniverse/release
/.github/** @daeuniverse/infra

fix(web): parse DNS fallback targets that contain colons
  apps/web/src/components/DNSFormModal/parser.test.ts
  apps/web/src/components/DNSFormModal/parser.ts
Owners: @daeuniverse/governance

fix(web): give each endpoint and token its own query cache
  apps/web/src/contexts/index.tsx
Owners: @daeuniverse/governance

fix(web): initialise the routing template when the create dialog opens
  apps/web/src/components/RoutingFormModal.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
Owners: @daeuniverse/governance

fix(web): validate the endpoint before persisting it, tidy setup copy
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Setup.tsx
Owners: @daeuniverse/governance

fix(web): fall back to English for unknown browser languages
  apps/web/src/i18n/index.ts
Owners: @daeuniverse/governance

fix(web): reset the manual protocol tab when the edit dialog closes
  apps/web/src/components/EditNodeFormModal.tsx
Owners: @daeuniverse/governance

fix(web): let selects return to an empty value
  apps/web/src/components/ui/select.tsx
Owners: @daeuniverse/governance

fix(web): keep the node name in hysteria2 and anytls links
  apps/web/src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/generator.test.ts
Owners: @daeuniverse/governance

fix(web): preserve fixed-policy parameters when editing a group
  apps/web/src/components/GroupFormModal.tsx
  apps/web/src/pages/Orchestrate/Group.tsx
Owners: @daeuniverse/governance

fix(web): first batch of dashboard fixes from a whole-project review (#784)
  apps/web/src/Router.tsx
  apps/web/src/components/ConfigureNodeFormModal/Hysteria2Form.tsx
  apps/web/src/components/ConfigureNodeFormModal/V2rayForm.tsx
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.test.ts
  apps/web/src/components/ConfigureNodeFormModal/protocols/complex.ts
  apps/web/src/components/DNSFormModal/parser.test.ts
  apps/web/src/components/DNSFormModal/parser.ts
  apps/web/src/components/EditNodeFormModal.tsx
  apps/web/src/components/GroupFormModal.tsx
  apps/web/src/components/Header.tsx
  apps/web/src/components/RoutingFormModal.tsx
  apps/web/src/components/ui/select.tsx
  apps/web/src/contexts/index.tsx
  apps/web/src/i18n/index.ts
  apps/web/src/i18n/locales/en.json
  apps/web/src/i18n/locales/zh-Hans.json
  apps/web/src/pages/Orchestrate/Group.tsx
  apps/web/src/pages/Orchestrate/Routing.tsx
  apps/web/src/pages/Setup.tsx
  packages/dae-node-parser/src/generator.ts
  packages/dae-node-parser/src/types.ts
  packages/dae-node-parser/tests/generator.test.ts
  pnpm-lock.yaml
Owners: @daeuniverse/governance

chore: update screenshots for v2.1.1 [skip ci]
  docs/screenshots/mobile/orchestrate.png
  docs/screenshots/mobile/setup.png
  docs/screenshots/pc/orchestrate.png
  docs/screenshots/pc/setup.png
Owners: @daeuniverse/docs

ci(release): build with Go 1.26
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra

ci(release): build with Go 1.26 (#787)
  .github/workflows/release-please.yml
Owners: @daeuniverse/infra
